.container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.file-cours{
  color: #e4483d;
}

h2 {
  color: #333;
}

input[type="file"] {
  display: block;
  margin: 10px auto;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #66a8ee;
  color: white;
  font-size: 16px;
}

.btn-reset {
  background-color: #cc2939;
}


.file-input {
position: relative;
margin-bottom: 20px;
}

.file-input input[type='file'] {
opacity: 0;
}

.file-input label {
cursor: pointer;
}
/* Pour rendre le texte de h2 en gras */
h2 {
  font-weight: bold; /* ou 700 pour un style plus fort */
}

/* Pour rendre le texte de h5 flou */
h5 {
  text-shadow: none;
  filter: blur(0.5px); /* Ajustez la valeur selon votre préférence */
}
label[for="pptxFileInput"] {
  color: rgb(0, 0, 0); /* Couleur du texte */
  background-color: rgb(226, 94, 71); /* Couleur de l'arrière-plan */
}
.drop-zone {
  display: none;
}

.drop-zone.active {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: rgba(0,0,0,0.2);
  border-radius: inherit;
}

.file-input:hover .drop-zone {
}
/* Style for the label */
.file-label {
  font-size: 16px;            /* Adjust font size */
  font-weight: bold;          /* Bold text */
  color: #333;                /* Dark text color */
  cursor: pointer;           /* Pointer cursor on hover */
  background-color: #f0f0f0; /* Light background */
  padding: 10px 15px;         /* Add padding */
  border-radius: 5px;         /* Rounded corners */
  display: inline-block;      /* Make the label inline block */
}


.controls {
  margin-bottom: 20px;
  text-align: center;
}

input[type="range"] {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 100%; /* or set to a specific width */
    overflow-x: auto;
    padding-bottom: 10px; /* Add space for the scrollbar if needed */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Barre de défilement verticale si nécessaire */
    height: 300px; /* Hauteur fixe pour permettre le défilement si trop d'images */
    padding-right: 10px; /* Espacement pour la barre de défilement */
    max-height: 500px; /* Hauteur maximale pour le conteneur d'images */
  /* Active le défilement vertical si nécessaire */
  margin-bottom: 80px; 
}


.image-grid {
  display: grid;
  gap: 10px;
  justify-content: center; /* Centre les images dans la grille */
  align-items: center; /* Centre les images dans la grille */
}

.image-item img {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.controls {
  display: flex;
  /* Aligne verticalement les éléments */
  justify-content: center;
  margin-top: 20px;

}

.controls label {
  margin-right: auto; /* Pousse les autres éléments vers la droite */
}

/* Pour réduire l'espace entre les éléments */
.controls button, .controls input[type='range'] {
  margin-right: 20px; /* Ajustez selon vos besoins */
}
.range-label {
  text-align: center; /* Centre le texte du label */
  margin-bottom: 10px; /* Espacement avant l'input */
}

